<h1>Greeting</h1>
<div class="alert alert-danger" ng-show="invalidBooking">
    You cannot do that operation on that book.
    (It is booked)
</div>
<div ng-controller="allBooks">
    <p></br>Filter the books:</br></p>
    <div class="form-group">
        <label for="title">Title:</label> <input type="text"
                                                 class="form-control" id="title" name="title"
                                                 ng-model="controller.filterObject.title"/>
    </div>
    <div class="form-group">
        <label for="year">Year (equal):</label> <input type="text"
                                                       class="form-control" id="year" name="year"
                                                       ng-model="controller.filterObject.year"/>
    </div>
    <div class="form-group">
        <label for="author">Author:</label> <input type="text"
                                                   class="form-control" id="author" name="author"
                                                   ng-model="controller.filterObject.author"/>
    </div>
    <div class="form-group">
        <label for="price">Price (maximum):</label> <input type="text"
                                                           class="form-control" id="price" name="price"
                                                           ng-model="controller.filterObject.price"/>
    </div>
    </br>
    <button ng-click="filterGrid()" class="btn btn-primary">Filter</button>
    </br>
    </br>
    <button ng-click="clearFilter()" class="btn btn-primary">Clear</button>
    <div>
        <p></br>You are seeing the books</br></p>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-repeat="c in columns">{{ c['title'] }}
            </th>
            <th> options</th>
        </tr>
        <tbody>
        <tr ng-repeat="d in data">
            <td ng-repeat="c in columns">{{ d[c['title']] }}</td>
            <td>
                <button ng-show="admin" ng-click="edit($index)">edit</button>
                <button ng-show="admin" ng-click="remove($index)">remove</button>
                <button ng-show="admin" ng-click="returned($index)">returned</button>
                <button ng-show="!admin" ng-click="book($index)">book</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button ng-click="insert()">Insert a new book</button>
    </br>
    </br>
    <button ng-show="admin" ng-click="exportAsCsv()">Download books as csv</button>
    </br>
    </br>
</div>