<h1>Greeting</h1>
<div>
    <p>you are admin and you are seeing the users</p>
</div>
<div ng-controller="allUsers">
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-repeat="c in columns">{{ c['title'] }}
            </th>
            <th> options</th>
        </tr>
        <tbody>
        <tr ng-repeat="d in data">
            <td ng-repeat="c in columns">{{ d[c['title']] }}</td>
            <td>
                <button ng-click="edit($index)">edit</button>
                <button ng-click="remove($index)">remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>