<h1>Greeting</h1>
<div>
    <p>you are admin and you are editing a user</p>
</div>
<div class="alert alert-danger" ng-show="error">
    There was a problem editing the user.
</div>
<div ng-controller="editUser">
    <form role="form" ng-submit="controller.edit()">
        <div class="form-group">
            <label for="username">Username:</label> <input type="text"
                                                           class="form-control" id="username" name="username"
                                                           ng-model="controller.user.username"/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label> <input type="text"
                                                     class="form-control" id="email" name="email"
                                                     ng-model="controller.user.email"/>
        </div>
        <div class="form-group">
            <label for="address">Address:</label> <input type="text"
                                                         class="form-control" id="address" name="address"
                                                         ng-model="controller.user.address"/>
        </div>
        <div class="form-group">
            <label for="birthDate">Birth Date:</label> <input type="text"
                                                           class="form-control" id="birthDate" name="birthDate"
                                                           ng-model="controller.user.birthDate"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>