<h1>Greeting</h1>
<div>
    <p>you are admin and you are editing a book</p>
</div>
<div class="alert alert-danger" ng-show="error">
    There was a problem editing the book.
</div>
<div ng-controller="editBook">
    <form role="form" ng-submit="controller.edit()">
        <div class="form-group">
            <label for="title">Title:</label> <input type="text"
                                                     class="form-control" id="title" name="title"
                                                     ng-model="controller.book.title"/>
        </div>
        <div class="form-group">
            <label for="year">Year:</label> <input type="text"
                                                   class="form-control" id="year" name="year"
                                                   ng-model="controller.book.year"/>
        </div>
        <div class="form-group">
            <label for="author">Author:</label> <input type="text"
                                                       class="form-control" id="author" name="author"
                                                       ng-model="controller.book.author"/>
        </div>
        <div class="form-group">
            <label for="price">Price:</label> <input type="text"
                                                     class="form-control" id="price" name="price"
                                                     ng-model="controller.book.price"/>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </br>
    </br>
    </br>
    <p> These are this book's history reservation</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-repeat="c in columns">{{ c['title'] }}
            </th>
        </tr>
        <tbody>
        <tr ng-repeat="d in data">
            <td ng-repeat="c in columns">{{ d[c['title']] }}</td>
        </tr>
        </tbody>
    </table>
</div>