<h1>Greeting</h1>
<div ng-show="authenticated && admin">
    <p> You are admin</p>
</div>
<div ng-show="authenticated && !admin">
    <p> You are user</p>

</div>

<div ng-show="authenticated && !admin" ng-controller="home">
    <p> These are your bookings history</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th ng-repeat="c in columns">{{ c['title'] }}
            </th>
        </tr>
        <tbody>
        <tr ng-repeat="d in data">
            <td ng-repeat="c in columns">{{ d[c['title']] }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div ng-show="!authenticated">
    <p>Login to see your greeting</p>
</div>
