<h1>Greeting</h1>
<div>
    <p>You are inserting a book</p>
</div>
<div class="alert alert-danger" ng-show="error">
    There was a problem inserting the book.
</div>
<div ng-controller="insertBook">
    <form role="form" ng-submit="controller.insert()">
        <div class="form-group">
            <label for="title">Title:</label> <input type="text"
                                                     class="form-control" id="title" name="title"
                                                     ng-model="controller.book.title"/>
        </div>
        <div class="form-group">
            <label for="year">Year:</label> <input type="text"
                                                   class="form-control" id="year" name="year"
                                                   ng-model="controller.book.year"/>
        </div>
        <div class="form-group">
            <label for="author">Author:</label> <input type="text"
                                                       class="form-control" id="author" name="author"
                                                       ng-model="controller.book.author"/>
        </div>
        <div class="form-group">
            <label for="price">Price:</label> <input type="text"
                                                     class="form-control" id="price" name="price"
                                                     ng-model="controller.book.price"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>