<div class="alert alert-danger" ng-show="error">
    There was a problem with registering. Please try again.
</div>
<div class="alert alert-danger" ng-show="error2">
    Password fields are not equals.
</div>
<div ng-show="success">
    </br>
    Registration successful. You can proceed to login
    </br>
</div>
<form role="form" ng-submit="controller.register()">
    <div class="form-group">
        <label for="username">Username:</label> <input type="text"
                                                       class="form-control" id="username" name="username"
                                                       ng-model="controller.credentials.username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password"
                                                       class="form-control" id="password" name="password"
                                                       ng-model="controller.credentials.password"/>
    </div>
    <div class="form-group">
        <label for="rePassword">Repeat Password:</label> <input type="password"
                                                                class="form-control" id="rePassword" name="rePassword"
                                                                ng-model="controller.credentials.rePassword"/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label> <input type="text"
                                                 class="form-control" id="email" name="email"
                                                 ng-model="controller.credentials.email"/>
    </div>
    <div class="form-group">
        <label for="address">Address:</label> <input type="text"
                                                     class="form-control" id="address" name="address"
                                                     ng-model="controller.credentials.address"/>
    </div>
    <div class="form-group">
        <label for="birthDate">Birth Date:</label> <input type="text"
                                                          class="form-control" id="birthDate" name="birthDate"
                                                          ng-model="controller.credentials.birthDate"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
